* {
  margin: 0; 
}

.Recipe_Header{
  background-color: #fbb5bf;
  height: 100px;
  font-size: 50px;
  text-align: right;
  color: #FFF4DB

}

.h1{
 height: 20px;
}

.Recipe_information {
 background-color: #bbdefb;
   position: absolute;
   left: 1px;
   bottom: 1px;
   width: 700px;
   height: 150px;
   border: 10px solid gray;
   padding: 50px;
   margin: 35px;
  
}

.green_dot{
  height: 200px;/* determines the size of circles */
  width: 200px;/* determines the sizes of circles (makes sure they are the same px) */
  background-color: #bdf1cf;
  border-radius: 50%; /* border radius makes it circular */
  display: inline-block;
  margin-right: 25px;
  margin-top: 25px;
  
  
}

.pink_dot{
  height: 200px;/* determines the size of circles */
  width: 200px;/* determines the sizes of circles (makes sure they are the same px) */
  background-color: #fbb5bf;
  border-radius: 50%; /* border radius makes it circular */
  display: inline-block;
  margin-right: 25px;
  margin-top: 25px;
  

}

.beige_dot{
  height: 200px;/* determines the size of circles */
  width: 200px;/* determines the sizes of circles (makes sure they are the same px) */
  background-color: #FFF4DB;
  border-radius: 50%; /* border radius makes it circular */
  display: inline-block;
  margin-right: 25px;
  margin-top: 25px;

}
