* {
  margin: 0;
  padding: 0;
  box-sizing: boarder-box;
  
}
body{
  display: flex; /* makes sure items stay in the center*/
  align-items: center;
  justify-content: center; /* only allows pictures that are in front view(cuts off the chicken) (center of the page, not height) */
  min-height: 110vh; /* puts items in the middle*/
}

.header{
  margin: 20px;
  position: absolute;
  top: 0%;
  height: 15%;  /* makes the header taller*/
  width: 35%;   /* makes the header wider*/
  float: left;
  background-color: pink;
  font-size: 40px;
  font-family: 'Gochi Hand', cursive;
  color: #FFF4DB;
  text-align: center;
  display: absolute;
  

}

.container{ /* makes container larger therefore bring back the chicken*/
  max-width: 1200px;
   width: 95%;
}

.slider-wrapper .image-list{
  display: grid; /* puts images on top of each other */
  gap: 20px; /* space between images */
  font-size: 0;
  margin-bottom: 30px;
  overflow-x: auto; /*puts scroll bar right under pictures*/
  scrollbar-width: none; /*makes scroll bar invisible*/
  grid-template-columns: repeat(10,1fr) /* put the images on a slider next to each other */
  
}
.slider-wrapper .image-list.image-list::-webkit-scrollbar{
  display: none;
}
.slider-wrapper .image-list .image-item{
  width: 100px;
  height:100px;
  object-fit: cover;
}

.slider-wrapper{
  position: relative;
}

.slider-wrapper .slide-button{
  position: absolute;
  top: 45%;
  height: 50px;
  width: 50px;
  color: black;
  background-color: transparent;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
}
.slider-wrapper .slide-button:hover{
  background: pink;
}
.slider-wrapper .slide-button#backwards {
  left: -20px;
  display: none;

}

.slider-wrapper .slide-button#fowards {
  right: -20px;
  

  
}

.container .slider-scrollbar{
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollbar-track {
  height: 2px;
  width: 100%;
  background-color:transparent ;
}
