
* {
  margin: 0; 

}
.Recipe_Header{
  font-family: 'Gochi Hand', cursive;
  background-color: #fbb5bf;
  height: 100px;
  width: 300px;
  font-size: 50px;
  text-align: center;
  display: flex;
  position: absolute;
  right: 0px;
  margin: 30px;
  color: #FFF4DB
}
.Recipe_information {
 background-color: #bbdefb;
   font-family: "Gochi Hand", cursive;
   position: absolute;
   font-size: 30px;
   left: 1px;
   bottom: 1px;
   width: 775px;
   height: 200px;
   border: 10px solid #bbdefb ;
   padding: 50px;
   margin: 45px;

}

.green_dot{
  height: 220px;/* determines the size of circles */
  width: 220px;/* determines the sizes of circles (makes sure they are the same px) */
  background-color: #bdf1cf;
  border-radius: 50%; /* border radius makes it circular */
  display: inline-block;
  margin-top: 50px;
  

}

.pink_dot{
  height: 220px;/* determines the size of circles */
  width: 220px;/* determines the sizes of circles (makes sure they are the same px) */
  background-color: #fbb5bf;
  border-radius: 50%; /* border radius makes it circular */
  display: inline-block;
  margin-top: 50px;
  


}

.beige_dot{
  height: 220px;/* determines the size of circles */
  width: 220px;/* determines the sizes of circles (makes sure they are the same px) */
  background-color: #FFF4DB;
  border-radius: 50%; /* border radius makes it circular */
  display: inline-block;
  margin-top: 50px;
  


}
