body {
  font-family: "Gochi Hand", cursive;
  font-weight: 300;
  font-style: normal;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(246, 221, 225);
    padding: 10px 20px;
    border-bottom: 5px dashed #8cae99;
}

.divider {
    display: inline-block;
    width: 2px;
    height: 50px;
    background-color: #8cae99;
    margin: 0 20px;
}

#search-box {
    padding: 5px 30px 5px 10px;
    border-radius: 10px;
    outline: none;
    font-family: cursive;
    margin: 10px 0px;
}

#content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.boxes {
    flex: 0 1 30%;
    width: 200px;
    height: 150px;
    padding: 20px;
    border: 2px solid #8cae99;
    text-align: center;
    box-sizing: border-box;
    margin-right: 10px;
    background-color: rgb(249, 241, 222);
}

.navigation {
    text-decoration: none;
    color: black;
    position: relative;
    padding: 10px;
}

.navigation::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #8cae99;
    bottom: -2px;
    left: 0;
    transition: width 0.3s ease;
}

.navigation:hover::before {
    width: 100%;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(246, 221, 225);
    padding: 10px 20px;
    border-top: 5px dashed #8cae99;
}
